<!DOCTYPE html>
<html>
  <head>
    <title>Uzka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'builder' %>
  </head>

  <body>
    <h1>Builder</h1>

    <div class='container'>
      <div id="drawing" class='col-md-6'>
      </div>
      <div class='col-md-6'>
      </div>
    </div>
  </body>
</html>
