/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_import
 *= require_tree .
 *= require_self
 */

$brown: #8a6d3b;
$red: red;

.CodeMirror {
  border: 2px solid grey;
  display: flex-box;  
}

.btn-primary {
  background-color: $brown;
  margin-top: 1em;
  float: right;    
}


.j-console {
  border: 1px solid #1a1a1a;
  background-color: #eee;
  text-align: left;
  padding: 1em;
  color: $brown;

  .j-console-line.error {
    color: $red;
  }

  .j-console-line.info {
    color: $brown;
  }  
}

.j-grid {
  $size: 34px; 
  $border: 2px;
  $font: 16px;

  width:  ($size * 10);
  height: ($size * 10) + 2 * $border;
  border: $border dashed $brown;

  .j-grid-row{
     display: flex;
  }
  
  .j-grid-square {
    background: #ddd;
    border: 1px solid #999;
    float: left;
    padding: 0;
    text-align: center;
    width:  $size;
    height: $size;   

    font-size: $font;
    font-weight: bold;
    line-height: $size;

    &:hover { background-color: rgba(42, 137, 13, 0.49); }
  }
}